body{
    /*background: #400;*/
}
#header{
    background: #000;
}
#header *{
    display: inline-block;
}
#header .top_root{
    background: url('header.png') 0 0;
    width:152px;
    height: 64px;
}
#header .top_root:hover{
    background: url('header.png') 0 -64px;
}
#header .vm{
    background: url('header.png') -152px 0;
    width: 182px;
    height: 64px;
}
#header .vm:hover{
    background: url('header.png') -152px -64px;
}
#header .vm.active{
    background: url('header.png') -152px -128px;
}
#header .django{
    background: url('header.png') -334px 0;
    width: 112px;
    height: 64px;
}
#header .django:hover{
    background: url('header.png') -334px -64px;
}
#header .django.active{
    background: url('header.png') -334px -128px;
}
