{% load static %}
<!doctype html>
<html>
<head>
<script src="{% static 'contrib/b.js' %}"></script>
<script>
var tab_urls = [//pairs: css_classname(the same as view_name, the same as current_tab_name), url_to_make_link
    ['top_root',"{% url 'top_root' %}"],
    ['vm',      "{% url 'vm' %}"],
    ['django',  "{% url 'django' %}"],
];
var current_tab_name = "{% block cur_tab_name %}{% endblock %}";
</script>
<script src="{% static 'base/header_widget.js' %}"></script>
<script src="{% static 'base/pager.js' %}"></script>
{% block init_state %}
{% endblock %}
<link href="{% static 'base/style.css' %}" rel="stylesheet"/>
</head>
<body>
<script src="{% static 'base/gameplay.js' %}"></script>
</body>
</html>
